* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}
img {
  width: 100%;
}
figure {
  width: 20%;
}
.titulo {
  text-align: center;
}
.botonAgregar,
.botonModificar, .botonBorrar, .botonVolver {
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.botonAgregar {
  background-color: green;
}
.botonModificar {
  background-color: orange;
}
.botonBorrar {
  background-color: red;
}
.botonVolver {
  background-color: #00b7ff;
}
.formulario {
  margin: auto;
  width: 20%;
}
